.name1 {
border-style: dashed;
border-width: 10px;
border-color: lightblue;
}
h1 {
font-family: Florence, cursive;
}
.nam {
border-style: dashed;
  border-width: 10px;
  border-color: lightblue;
}
.ab{
font-family: Florence, cursive;
border-style: none;
}
.caen {
font-family: Florence, cursive;
  font-size: large;
}
body {
background-color: #FFFFF0;
}